<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WeixinRobotLib.Properties.Settings.WeixinRobootConnectionString2"
            connectionString="Data Source=localhost,9125;Initial Catalog=WeixinRoboot;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="WeixinRobotLib.Properties.Settings.WeixinRobootConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=E:\EasyRoboot.mdf;Initial Catalog=WeixinRoboot;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>