<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TaoHua_Insertor.Properties.Settings.WeinxinRobootConnectionString"
            connectionString="Data Source=172.6.8.143,9125;Initial Catalog=WeixinRoboot;Persist Security Info=True;User ID=sa;Password=liangwguang"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>