<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TaoHua_Insertor.Properties.Settings.WeinxinRobootConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=WeinxinRoboot;Persist Security Info=True;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>