<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="WeixinRoboot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <connectionStrings>
    <clear />
    <add name="OraAspNetConString" connectionString=" " />

    <add name="RemoteSqlServer" connectionString="Data Source=superserver,9125;Initial Catalog=Weixinroboot;Persist Security Info=True;User ID=sa;Password=liangwguang;Connect Timeout=15;MultipleActiveResultSets=true;Max Pool Size=30000;Pooling=true;"
     providerName="System.Data.SqlClient" />
    <!--<add name="RemoteSqlServer" connectionString="Data Source=13828081978.ZICP.VIP,10031;Initial Catalog=Weixinroboot;Persist Security Info=True;User ID=sa;Password=liangwguang;Connect Timeout=15;MultipleActiveResultSets=true;Max Pool Size=30000;Pooling=true;"
     providerName="System.Data.SqlClient" />-->
    <add name="LocalSqlServer" connectionString="Data Source=localhost,9125;Initial Catalog=Weixinroboot;Persist Security Info=True;User ID=sa;Password=liangwguang;Connect Timeout=15;MultipleActiveResultSets=true;Max Pool Size=30000;Pooling=true;"
      providerName="System.Data.SqlClient" />
    <add name="Express" connectionString="Data Source=.\SQLExpress;AttachDbFilename=e:\EasyRoboot.mdf;Integrated Security=True; user instance=true"
      providerName="System.Data.SqlClient" />
    <add name="NoSqlServer15M" connectionString="Data Source=103.117.138.222,9125;Initial Catalog=Weixinroboot;Persist Security Info=True;User ID=ssaa;Password=liangwguang;Connect Timeout=15;MultipleActiveResultSets=true;Max Pool Size=30000;Pooling=true;"
  providerName="System.Data.SqlClient" />
    <add name="NoSqlServer4M" connectionString="Data Source=103.117.138.220,9125;Initial Catalog=Weixinroboot;Persist Security Info=True;User ID=ssaa;Password=liangwguang;Connect Timeout=15;MultipleActiveResultSets=true;Max Pool Size=30000;Pooling=true;"
 providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <membership defaultProvider="SqlProvider">
      <providers>
        <clear/>
        <add name="SqlProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="LocalSqlServer" applicationName="/" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" passwordFormat="Hashed" passwordAttemptWindow="5" minRequiredPasswordLength="3" minRequiredNonalphanumericCharacters="0"/>
      </providers>
    </membership>
  </system.web>
  <system.net>
    <defaultProxy enabled="false" useDefaultCredentials="false">
      <proxy/>
      <bypasslist/>
      <module/>
    </defaultProxy>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true" maximumResponseHeadersLength="1024"/>
      <servicePointManager checkCertificateName="true" checkCertificateRevocationList="true" enableDnsRoundRobin="true" expect100Continue="true" useNagleAlgorithm="true"/>
    </settings>
    <connectionManagement>
      <add address="*" maxconnection="5000"/>
    </connectionManagement>
  </system.net>
  <system.web>
    <roleManager enabled="true"></roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.4.9.5" newVersion="1.4.9.5"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <WeixinRoboot.Properties.Settings>
      <setting name="WeixinRoboot_RobootWeb_WebService" serializeAs="String">
        <value>http://103.117.138.222/WebService.asmx</value>
      </setting>
      <setting name="WeixinRoboot_RobotWebAdmin_SysadminServices" serializeAs="String">
        <!--<value>http://13828081978.zicp.vip/SysadminServices.asmx</value>-->
        <value>http://103.117.138.222/SysadminServices.asmx</value>
      </setting>
    </WeixinRoboot.Properties.Settings>
  </applicationSettings>
</configuration>
