<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Brotli.NET" version="1.0.19" targetFramework="net40" />
  <package id="HtmlAgilityPack" version="1.4.9.5" targetFramework="net45" />
  <package id="xpath-webbrowser.XPathWebBrowser" version="1.0.8" targetFramework="net45" />
</packages>