<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <startup>
        <supportedRuntime version="v2.0.50727"/>
    </startup>
    <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
        <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
            xmlns="http://www.w3.org/2001/04/xmlenc#">
            <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
            <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
                    <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
                    <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                        <KeyName>Rsa Key</KeyName>
                    </KeyInfo>
                    <CipherData>
                        <CipherValue>lNGJfJMNSuHLNJ9se3n33/g3cn17vZ8FsuUY3sw1v8t19fPCmYMkI2uR5Q6SU4EN3n27g9s8olBwzf1o3F86A8VDGF1scCLnLKRfbf5JXBLkOwuQtO6FBZq5yxFjhXAU4b4YDKbop/sdSdxxve06mxJxoDC9Zx08eeTWBq+Pqj0=</CipherValue>
                    </CipherData>
                </EncryptedKey>
            </KeyInfo>
            <CipherData>
                <CipherValue>fyFLsp/VvhQS1ifck6aUEJGOzSvtRL0pQAELxodZlvPxfiNIkItIDo5tRKWPrn7EDP3sQI1FdYyC7eLwstp8d/RO69f4rxzDfmUKzMdFLFkDqt6TpNB11RGnDo6jn1ggijU7Ye1Pzt4sMhkE0YHb7efRYCAqO74O+8+eES8uFhrnBcF0UfcYMhpNRadp3s6QPgsJC5OstJdJgBejhakLlNOOLNAKQ7vhswjTR/QLFg0t4tiun4SCWBMwYDILyh+VmRxTcjYoYNGqmwAMB9tvVDMq63jEyNvM6esGvVPUl6u57i67IwwkoLFnOkGbHZVrDEU6P1tiyfSxkQuSi2l/HGuYR3Zgmm3D9vrFG5R8zkw=</CipherValue>
            </CipherData>
        </EncryptedData>
    </connectionStrings>
    <system.web>
        <membership defaultProvider="SqlProvider">
            <providers>
                <clear />
                <add name="SqlProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="LocalSqlServer"
                   applicationName="/"
                   enablePasswordRetrieval="false"
                   enablePasswordReset="true"
                   requiresQuestionAndAnswer="false"
                   requiresUniqueEmail="false"
                   passwordFormat="Hashed"
                     passwordAttemptWindow="5"
                     minRequiredPasswordLength="3" minRequiredNonalphanumericCharacters="0"
                     />
            </providers>
        </membership>
        <roleManager enabled="true"></roleManager>
    </system.web>
    <system.net>
        <settings>
            <httpWebRequest useUnsafeHeaderParsing="true" />
        </settings>
    </system.net>
</configuration>
